SUPABASE_URL="https://cflabkkabtffvgrmtxxe.supabase.co"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbGFia2thYnRmZnZncm10eHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MzcxODYsImV4cCI6MjA5MzExMzE4Nn0.6DJMK-P2R3Pfforwzfjq3RQOrXUBmneQXkdnRYZbFgY"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbGFia2thYnRmZnZncm10eHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MzcxODYsImV4cCI6MjA5MzExMzE4Nn0.6DJMK-P2R3Pfforwzfjq3RQOrXUBmneQXkdnRYZbFgY"

VITE_SUPABASE_PROJECT_ID="cflabkkabtffvgrmtxxe"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbGFia2thYnRmZnZncm10eHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MzcxODYsImV4cCI6MjA5MzExMzE4Nn0.6DJMK-P2R3Pfforwzfjq3RQOrXUBmneQXkdnRYZbFgY"
VITE_SUPABASE_URL="https://cflabkkabtffvgrmtxxe.supabase.co"
GEMINI_API_KEY="AIzaSyDhADy-6IUE0fge6L59CKTPp2inVpny0ck"
